@font-face {
    font-family: "Open Sauce Sans", sans-serif;
    src: url(files/fonts/Open_Sauce/OpenSauceSans-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Open Sauce Sans", sans-serif;
    src: url(files/fonts/Open_Sauce/OpenSauceSans-Bold.ttf);
    font-weight: bold;
}

::selection {
    background-color: #232323;
    color: #CEE2FF;
}

b {
    font-weight: 700;
}

body {
    background-color: #f3f6e8;
    font-family: "Poppins", sans-serif;
    cursor: url("files/images/cursor-default.png"), default;
    cursor: url("files/images/cursor-pointer.png"), pointer  !important; 
}

/*Estilo Header*/
header img {
    width: 100%;
    height: auto;
    display: block;
}

/*Estilo Main Content*/
.main_content {
    display: flex;
    margin: 50px 0 50px 0;
}

.main_content p {
    text-align: justify;
    font-size: 16px;
    letter-spacing: 0;
    max-width: 350px;
    width: auto;
    height: auto;
    line-height: 20px;
    padding: 65px 15px 0 30px;
}

.main_content img {
    width: 120.56px;
    height: auto;
    float: right;
    padding: 0 0 0 15px;
}

/*Estilo About Me*/
.about_me {
    background-color: #CEE2FF;
    margin: 40px 15px 40px 15px;
    padding: 50px 10px 50px 10px;
    border-radius: 35px;
    text-align: center;
}

.Title_WhoAmI {
    font-family: "Open Sauce Sans", sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    color: #1A2336;
}

.about_me p {
    font-size: 16px;
    text-align: justify;
    line-height: 20px;
    width: 90%;
    max-width: auto;
    height: auto;
    margin: 30px auto;
}

.about_me img {
    width: 203px;
    transition: transform 0.3s ease; /*animação de zoom*/
    border-radius: 101.5px;
}

.about_me img:hover {
    transform: scale(1.1); /*animação de zoom*/
}

/*Estilo Verse*/
.verse {
    margin: 50px auto;
    width: 320px;
}

.verse-text {
    font-family: "Open Sauce Sans", sans-serif;
    font-size: 30px;
    line-height: 35px;
    text-align: left;
    width: 216px;
    height: 280px;
}

.verse-reference {
    font-family: "Open Sauce Sans", sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: #1A2336;
    padding-left: 120px;
    text-align: right;
}

/*Estilo Footer*/
footer {
    background-color: #1A2336;
    padding: 15px;
}

.contact_me {
    text-align: center;
    color: #f3f6e8;
    padding: 10px;
}

.contact_me p {
    padding-bottom: 10px;
}

.contact_me button {
    background-color: #f3f6e8;
    color: #000;
    font-family: "Open Sauce Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 30px 10px 30px;
    border-color: #000;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.contact_me button:hover {
    background-color: #1A2336;
    color: #f3f6e8;
    border-color: #f3f6e8;
}

.copyright {
    text-align: center;
    color: #7A7F8C;
    padding-top: 30px;
}

.copyright p {
    font-size: 14px;
}

.copyright h3 {
    font-family: "Open Sauce Sans", sans-serif;
    font-size: 21px;
    font-weight: 800;
}