@font-face {
  font-family: "Open Sauce Sans";
  src: url(files/fonts/Open_Sauce/OpenSauceSans-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Open Sauce Sans";
  src: url(files/fonts/Open_Sauce/OpenSauceSans-Black.ttf);
  font-weight: 900;
}

:root {
  --text-color: #252525;
  --background-color: #fafafa;
  --background-color-2: #ffffff;
  --primary-color: #CEE2FF;
  --secondary-color: #1A2336;
  --tertiary-color: #f6f1ff;
}

::selection {
  background-color: var(--text-color);
  color: #CEE2FF;
}

b {
  font-weight: 600;
}

body {
  background-color: var(--background-color);
  font-family: "Poppins", sans-serif;
  cursor: url("files/cursor/cursor-default.png"), default;
}

button,
a {
  cursor: url("files/cursor/cursor-pointer.png"), pointer;
  -webkit-tap-highlight-color: transparent;
}

h2 {
  cursor: url("files/cursor/cursor-text.png"), text;
}

h3 {
  cursor: url("files/cursor/cursor-text.png"), text;
}

p {
  cursor: url("files/cursor/cursor-text.png"), text;
}

#menu-button {
  position: fixed;
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0 0 0 0 transparent;
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  z-index: 10000;
}

#menu-button:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

#menu-button img {
  width: 25px;
  padding: 10px 5px 10px 5px;
}

.drawer {
  position: fixed;
  top: 0;
  left: -350px;
  width: 350px;
  height: 100%;
  background-color: var(--background-color);
  transition: left 0.3s ease;
  z-index: 10001;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}

.drawer.open {
  left: 0;
}

.drawer nav {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

hr {
  border: none; /* Remove a borda padrão */
  width: 80%;   /* Define a largura da linha */
  /* Aumentamos a altura para acomodar a amplitude ainda maior da onda */
  height: 7px;
  margin: 20px auto; /* Centraliza a linha e adiciona espaçamento vertical */
  background-color: var(--text-color); /* Esta será a cor da sua linha ondulada */

  /* Define a máscara SVG para criar o efeito ondulado */
  /* SVG atualizado: viewBox="0 0 20 7" e path d="M0 3.5 Q5 0.5 10 3.5 Q15 6.5 20 3.5" */
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 7"><path d="M0 3.5 Q5 0.5 10 3.5 Q15 6.5 20 3.5" fill="none" stroke="%23fff" stroke-width="1"/></svg>');
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 7"><path d="M0 3.5 Q5 0.5 10 3.5 Q15 6.5 20 3.5" fill="none" stroke="%23fff" stroke-width="1"/></svg>');

  /* Define o tamanho de um ciclo da onda (largura de 20px, altura de 7px) */
  /* Atualizado para corresponder às novas dimensões da viewBox do SVG */
  -webkit-mask-size: 20px 7px;
  mask-size: 20px 7px;

  /* Repete a onda horizontalmente */
  -webkit-mask-repeat: repeat-x;
  mask-repeat: repeat-x;
}


.title-nav {
  padding: 15px 0 15px 0;
}

.title-nav h4 {
  font-family: "Open Sauce Sans", sans-serif;
  font-size: 25px;
  font-weight: 800;
  color: var(--text-color);
}

.title-nav h5 {
  font-family: "Open Sauce Sans", sans-serif;
  font-size: 15px;
  font-weight: 100;
  color: var(--text-color);
}

.drawer a {
  display: flex;
  align-items: center;
  font-family: "Open Sauce Sans", sans-serif;
  font-size: 18px;
  color: var(--text-color);
  text-decoration-line: none;
  margin: 10px 0 10px 0;
  background-color: var(--background-color-2);
  border-radius: 15px;
  padding: 10px;
  transition: transform 0.5s ease, border-radius 0.5s ease;
  border: 1px solid transparent;
}

.drawer .internal_links a:hover {
  background-color: #f6f1ff;
  border: 1px solid var(--text-color);
  border-radius: 20px;
  transform: scale(1.05);
}

.drawer .external_links a:hover {
  background-color: #e9f2ff;
  border: 1px solid var(--text-color);
  border-radius: 20px;
  transform: scale(1.05);
}

.drawer a img {
  width: 20px;
  height: auto;
  padding-right: 10px;

}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  backdrop-filter: blur(5px);
  z-index: 999;
}

.overlay.show {
  display: block;
}

.fixed-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px 10px;
  /* ajuste o valor para o seu layout */
}

.buttons_drawer {
  gap: 15px;
  display: flex;
  justify-content: center;
  font-family: "Open Sauce Sans", sans-serif;
  font-size: 20px;
  color: var(--text-color);
}

#close-drawer {
  background-color: #f6f1ff;
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 15px;
  border: 1px solid transparent;
  transition: transform 0.5s ease, border-radius 0.5s ease;
}

#close-drawer:hover {
  border: 1px solid var(--text-color);
  border-radius: 20px;
}

/*Estilo Header*/
header {
  position: relative;
}

header img {
  width: 100%;
  height: auto;
  display: block;
}

/*Estilo Main Content*/
.main_content {
  display: flex;
  margin: 50px 0 50px 0;
}

.main_content p {
  text-align: justify;
  font-size: 16px;
  color: var(--text-color);
  letter-spacing: 0;
  max-width: 350px;
  width: auto;
  height: auto;
  line-height: 20px;
  padding: 65px 15px 0 30px;
}

.main_content img {
  width: 120.56px;
  height: auto;
  float: right;
  padding: 0 0 0 15px;
}

/*Estilo About Me*/
.background-about_me {
  background: linear-gradient(to bottom,
      #fafafa 0%,
      #fafafa 50%,
      #f6f1ff 50%,
      #f6f1ff 100%);
}

.about_me {
  background-color: #CEE2FF;
  margin: 40px 15px 0px 15px;
  padding: 50px 10px 50px 10px;
  border-radius: 35px;
  text-align: center;
}

.Title_WhoAmI {
  font-family: "Open Sauce Sans", sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 30px;
  margin-bottom: 15px;
  color: var(--text-color);
}

.about_me p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-align: justify;
  line-height: 20px;
  width: 90%;
  max-width: auto;
  height: auto;
  margin: 30px auto;
  color: var(--text-color);
}

.about_me img {
  width: 203px;
  transition: transform 0.3s ease;
  border-radius: 50%;
}

/*Estilo Hobbies*/
.hobbies {
  background-color: #f6f1ff;
  padding: 40px 35px 40px 35px;
  text-align: center;
}

.Title_hobbies {
  font-family: "Open Sauce Sans", sans-serif;
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: var(--text-color);
  margin: 30px 0 30px 0;
}

.hobbies-content p {
  text-align: justify;
  margin: 20px 0 20px 0;
  line-height: 20px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}

.playing_img {
  max-width: 250px;
  width: auto;
  border-radius: 35px;
  margin: 20px 0 20px 0;
}

.paint_img {
  max-width: 250px;
  width: auto;
  border-radius: 35px;
  margin: 20px 0 20px 0;
}

/*Estilo Verse*/
.verse_container {
  background-image: url(files/images/background-image/background-image_1.webp);
  background-size: cover;
  /* Cobre toda a tela */
  background-position: center;
  /* Centraliza a imagem */
  background-repeat: no-repeat;
  /* Não repete a imagem */
  padding: 20px 10px 20px 10px;
  margin: 40px 15px 40px 15px;
  border-radius: 35px;
}

.verse {
  margin: 50px auto;
  width: 270px;
  background-color: var(--background-color);
  border-radius: 35px;
  padding: 30px 20px 30px 20px;
}

.verse-text {
  font-family: "Open Sauce Sans", sans-serif;
  color: var(--text-color);
  font-size: 30px;
  line-height: 35px;
  text-align: left;
  width: 216px;
  height: 280px;
}

.verse-reference {
  font-family: "Open Sauce Sans", sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: var(--text-color);
  padding-left: 80px;
  text-align: right;
}

/*Skills*/
#skills {
  background-color: #1A2336;
  padding: 20px;
}

.main-skills {
  color: var(--background-color);
}

.main-skills h2 {
  font-family: "Open Sauce Sans", sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 30px;
  margin: 15px 0 15px 0;
}

.main-skills p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-align: justify;
  line-height: 20px;
  width: 90%;
  max-width: 1000px;
  height: auto;
  margin: 30px auto;
}

.tray_skills {
  background-color: #e9f2ff;
  margin: 40px 0 40px 0;
  padding: 50px 10px 50px 10px;
  border-radius: 35px;
}

.front-end {
  text-align: center;
}

.back-end {
  text-align: center;
}

.technologies {
  text-align: center;
}

.front-end h3 {
  color: var(--text-color);
  font-family: "Open Sauce Sans", sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 25px;
  padding-bottom: 15px;
}

.back-end h3 {
  color: var(--text-color);
  font-family: "Open Sauce Sans", sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 25px;
  padding-bottom: 15px;
}

.technologies h3 {
  color: var(--text-color);
  font-family: "Open Sauce Sans", sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 25px;
  padding-bottom: 15px;
}

.tray_skills img {
  width: 100px;
  padding: 5px;
  margin: 10px;
  border: 1px solid var(--text-color);
  border-radius: 20px;
  transition: transform 0.5s ease, border-radius 0.5s ease;
}

.tray_skills img:hover {
  border-radius: 35px;
}

/*Estilo My Projects*/
#my_projects {
  background-color: #CEE2FF;
}

.my_projects_content {
  padding: 50px 20px 50px 20px;
}

.my_projects_content_text h2 {
  font-family: "Open Sauce Sans", sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 30px;
  margin: 15px 0 15px 0;
}

.my_projects_content_text p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-align: justify;
  line-height: 20px;
  width: 90%;
  max-width: 1000px;
  height: auto;
  margin: 30px auto;
}

.carousel {
  position: relative;
  width: auto;
  max-width: 400px;
  overflow: hidden;
  margin: auto;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 20px;
  width: 100%;
}

.carousel-item {
  flex: 0 0 100%;
  height: auto;
  box-sizing: border-box;
  background-color: var(--background-color);
  border-radius: 35px;
}

.carousel-item img {
  width: 100%;
  border-radius: 35px 35px 0 0;
  display: block;
}

.carousel-track a {
  text-decoration: none;
  background-color: var(--background-color);
  border-radius: 35px;
}

.description {
  padding: 15px;
  border-radius: 0 0 35px 35px;
}

.description h3 {
  color: var(--text-color);
  font-family: "Open Sauce Sans", sans-serif;
  font-weight: 900;
  text-align: left;
  font-size: 25px;
  padding-bottom: 15px;
}

.description p {
  text-align: justify;
  color: var(--text-color);
  line-height: 20px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  padding-bottom: 20px;
}

.carousel-button {
  position: absolute;
  top: 50%;
  border-radius: 10px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: var(--background-color);
  border: none;
  padding: 5px 15px 5px 15px;
  font-size: 30px;
  z-index: 1;
  transition: transform 0.5s ease, border-radius 0.5s ease;
}

.carousel-button:hover {
  border-radius: 20px;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}


#container-final-buttons {
  padding: 50px 20px;
  justify-items: center;
  gap: 20px;
}

.cv-content {
  justify-content: center;
  display: flex;
  border: 1px solid var(--text-color);
  width: 200px;
  padding: 30px 20px;
  border-radius: 20px;
  transition: background-color 0.5s ease, border-radius 0.5s ease;
  margin-bottom: 20px;
}

.cv-content:hover {
  border-radius: 35px;
  background-color: #f6f1ff;
}

.cv-content a {
  justify-content: center;
  text-decoration: none;
  display: flex;
  gap: 15px;
}

.cv-content p {
  justify-content: center;
  display: flex;
  width: 115px;
  color: var(--text-color);
  font-family: "Open Sauce Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
}

.cv-content img {
  margin-left: auto;
  width: 50px;
  height: 50px;
  float: right;
}

.linkedin-button-content {
  justify-content: center;
  display: flex;
  border: 1px solid var(--text-color);
  width: 200px;
  padding: 30px 20px;
  border-radius: 20px;
  transition: background-color 0.5s ease, border-radius 0.5s ease;
}

.linkedin-button-content:hover {
  border-radius: 35px;
  background-color: #e9f2ff;
}

.linkedin-button-content a {
  justify-content: center;
  text-decoration: none;
  display: flex;
  gap: 15px;
}

.linkedin-button-content p {
  justify-content: center;
  display: flex;
  width: 120px;
  color: var(--text-color);
  font-family: "Open Sauce Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
}

.linkedin-button-content img {
  margin-left: auto;
  width: 50px;
  height: 50px;
  float: right;
}

/*Estilo Footer*/
footer {
  background-color: #1A2336;
  padding: 35px 15px;
}

.contact_me {
  text-align: center;
  color: var(--background-color);
  padding: 10px;
}

.contact_me p {
  padding-bottom: 10px;
}

.contact_me button {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Open Sauce Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 30px 10px 30px;
  border-color: var(--text-color);
  border-radius: 15px;
  transition: background-color 0.5s ease, border-radius 0.5s ease;
  ;
  border: 2px solid var(--background-color);
}

.contact_me button:hover {
  background-color: #1A2336;
  border-radius: 20px;
  color: var(--background-color);
  border: 2px solid var(--background-color);
}

.copyright {
  text-align: center;
  color: #7A7F8C;
  padding-top: 30px;
}

.copyright p {
  font-size: 14px;
}

.copyright h3 {
  font-family: "Open Sauce Sans", sans-serif;
  font-size: 21px;
  font-weight: 800;
}